
$theme-colors: (
  'base': #4d525b,
  'blue': #0087e0,
  'dark': #1F2836,
);

$color-base: #4d525b;
$color-blue: #0087e0;
$color-light-blue: #e6f0ff;
$color-dark: #1F2836;
$color-dark-light: #31364a;
$color-light: #d4d4d4;
$color-silver: #cdcdcd;
$color-gray: #999999;
$color-almost-white: #f1f1f1;

$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-base: 1.6rem;
$font-size-medium: 1.7rem;
$font-size-large: 2.2rem;
$font-size-xlarge: 2.4rem;
$font-size-xxlarge: 2.8rem;
