{% extends "admin/layout.html" %}
{% import "admin/macros.html" as macros with context %}

{% block admin_title %}
    skills
{% endblock %}

{% block admin_body %}

<div class="panel-body">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="alert alert-success">
        {% for message in messages %}
          {{ message }}<br />
        {% endfor %}
        </p>
      {% endif %}
    {% endwith %}

    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addSkillModal"><span class="glyphicon glyphicon-plus"></span> Add skill</button>
</div>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Skill name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for skill in pagination.items %}
    <tr>
        <td>{{ skill.skill_name }}</td>
        <td>
            <a href="{{ url_for('admin.skill_delete', skill_id=skill.id) }}" class="btn btn-danger btn-xs">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="panel-body">
  {{ macros.pagination(pagination) }}
</div>

<div class="modal fade" id="addSkillModal">
<div class="modal-dialog">
<form action="{{ url_for(request.endpoint) }}" method="POST" class="form-horizontal">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add skill</h4>
  </div>
  <div class="modal-body">
    {{ form.csrf_token }}

    <div class="control-group">
      <div class="controls">
        <label for="type">{{ form.skill_name.label }}</label><br />
        {{ form.skill_name(class='input-xlarge') }}
      </div>
    </div>

    </form>
  </div>
  <div class="modal-footer">
    {% if form.errors %}
      <a class="btn btn-default" href="{{ url_for(request.endpoint) }}">Close</a>
    {% else %}
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% endif %}
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  

{% endblock %}

{% block scripts %}
{% if form.errors %}
<script type="text/javascript">
  $(function() {
    $('#addSkillModal').modal('show');
  });
</script>
{% endif %}
{% endblock %}